/* Overrides for jqplot/jquery.jqplot.css */
.jqplot-target {
    color: #222222;
    font-family: sans-serif;
    font-size: 1em;
}

.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    background: rgb(238, 238, 236);
    padding: 2px;
}

body {
	font-family: sans-serif;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

p {
	line-height:1.5em;
	font-size:100%;
	font-size:13px;
}

#titleline {
	margin-bottom:0px;
}

#crchartselect {
	font-size:0.8em;
	margin-bottom:10px;
}

#chart1out {
	width:100%;
	float:left;
	margin-right:-100px;
}

#chart1 {
	height:450px;
	margin-right:100px;
}

#crcontrols {
	width:100px;
	float:right;
}

#crstatecontrols {
	font-size:0.8em;
}

#crcontrolbuttons {
	padding-top:20px;
}

#crbottomtext {
	clear:both;
	padding-top:30px;
}

